{% extends 'handbook/subtemplate.html' %}

{% block title %}Armor | Devumid Handbook{% endblock %}


{% block content %}
    <h1 class="section-title">Доспехи и одежда</h1>

	<div class="search-input"><label>
		<input id="search" type="text" placeholder="Поиск по доспехам">
    </label></div>

	{% if all_armor %}
	<table id="weap-table" class="weap-table">
		<thead>	
		<tr>
			<th>Название</th><th>КД</th><th>Материал</th><th>Вес</th><th>Цена</th>
		</tr>
		</thead>
		<tbody>
		{% for arm in all_armor %}
		<tr>
			<td>{{ arm.name_rus }}</td>
			<td>{{ arm.ac }}</td>
			<td>{{ arm.material }}</td>
			<td>{{ arm.weight }} фнт</td>
			<td>{{ arm.costs.gold }}з {{ arm.costs.silver }}с {{ arm.costs.copper }}м</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
    {% else %}
        <p>Database error, no weapon found</p>
	{% endif %}
{% endblock %}

{% block script %}
let table = new DataTable('#weap-table',
{
  "language": {
    "paginate": {
      "previous": "Предыдущая",
			"next": "Следующая"
    },
		"info": "Страницы _START_-_END_ (всего _TOTAL_)"
  }
});

$('#search').keyup(function() {
	table.search($(this).val()).draw();
});
{% endblock %}
