{% extends 'handbook/subtemp.html' %}

{% block context %}

<div class="info-section" id="info">
  <img src="{{ static('handbook/images/unknown_hero.png') }}" alt="hero-image">
  <h1 class="name" contenteditable="true" >Имя персонажа</h1>
  <h1 class="race">Раса персонажа</h1>
  <h1 class="class">Класс пермонажа</h1>
  <h1 class="lvl">99 уровень</h1>
  <h1 class="soul">Cобрано душ: 99999</h1>

  <div class="drag-corner" id="info-drag"></div>
</div>

{% endblock %}

{% block jscript %}

<script type="text/javascript" src="{{ static('handbook/scripts/drag-section.js') }}"></script>

{% endblock %}

