{% extends 'handbook/subtemplate.html' %}

{% block title %}{{ name_eng }} | Devumid Handbook{% endblock %}

{% block content %}
<div class="object-container">
    <div class="object-text">
        <h1 class="section-title">{{ name_rus }}</h1>
        <p class="p-desc">{{ description }}</p>

        {% for item in info %}
            <p><b>{{ item.title }}</b>. {{ item.description }}</p>
        {% endfor %}

        <h1 class="section-title">Особенности</h1>
        {% for item in spec %}
            <p><b>{{ item.title }}</b>. {{ item.description }}</p>
        {% endfor %}

        <h1 class="section-title">Отыгрыш и создание</h1>
        {% for item in create %}
            <p><b>{{ item.title }}</b>. {{ item.description }}</p>
        {% endfor %}

    </div>
    <div class="object-img">
        <img class="image1" src="{{ static('images/bg_images/' ~ name_eng ~ '1.png') }}" alt="">
        <img class="image2" src="{{ static('images/bg_images/' ~ name_eng ~ '2.png') }}" alt="">
    </div>
</div>
{% endblock %}
