{% extends 'handbook/subtemplate.html' %}

{% block title %}Races | Devumid Handbook{% endblock %}
{% load static %}

{% block content %}
    <h1 class="section-title">Расы и происхождения</h1>

    {% if all_races %}
    <div class="mp-section">
    {% for race in all_races %}
        <div class="section-elem race-elem">
            <a href="{% url 'handbook:race_page' race.name_eng %}">
                <img src="{% static race.img_path %}" alt="">
                <p>{{ race.name_rus }}</p>
                <p class="subname">{{ race.name_eng }}</p>
            </a>
        </div>
    {% endfor %}
    </div>
    {% else %}
        <p>Server error, no races found</p>
    {% endif %}
{% endblock %}
