{% extends 'handbook/subtemplate.html' %}

{% block title %}{{ name_eng }} | Devumid Handbook{% endblock %}
{% load static %}

{% block content %}
<div class="object-container">
    <div class="object-text">
        <h1 class="section-title">{{ name_rus }}</h1>
        <p>{{ description }}</p>
        <p><b>Страны: </b>{{ countries }}</p>
        <p><b>Территории: </b>{{ lands }}</p>
        <p><b>Языки: </b>{{ langs }}</p>
        <p><b>Религии: </b>{{ religions }}</p>
    </div>
    <div class="object-img">
        <img class="image1" src="{% static 'images/bg_images/human_1.png' %}" alt="">
        <img class="image2" src="{% static 'images/bg_images/human_2.png' %}" alt="">
    </div>
</div>
{% endblock %}
