{% extends 'handbook/subtemp.html' %}

{% block context %}

<img class="background" src="{{ static('handbook/images/race_backgrounds/'+info.name_eng+'2.png') }}" alt="{{ info.name_eng+' picture' }}">

<h1>{{ info.name_rus }}</h1>
<p>{{ info.description }} </p>

<div class="group">
  <p><b>Страны:</b> {{ info.info.countries }}</p>
  <p><b>Территории:</b> {{ info.info.lands }}</p>
  <p><b>Языки:</b> {{ info.info.languages }}</p>
  <p><b>Религия:</b> {{ info.info.religions }}</p>
</div>

<h2>Особенности</h2>
<div class="group">
  <p><b>Навыки.</b> {{ info.name_rus }} получает {{ info.skills.value }} очка навыка для развития характеристики {{ info.skills.skill }}</p>
  <p><b>Возраст.</b> {{ info.create.age }}</p>
  <p><b>Рост.</b> {{ info.create.height }}</p>
  <p><b>Скорость.</b> Ваша скорость передвижения {{ info.create.speed }} ячеек ({{ info.create.speed*5 }} футов)</p>
</div>

<h2>Отыгрыш и создание</h2>
<div class="group">
  {% for elem in info.spec %}
	<p><b>{{ elem.title }}.</b> {{ elem.description }}</p>
  {% endfor %}
  {% for elem in info.acting %}
	<p><b>{{ elem.title }}.</b> {{ elem.description }}</p>
  {% endfor %}
</div>

{% endblock %}
