{% extends 'handbook/subtemplate.html' %}

{% block title %}Weapons | Devumid Handbook{% endblock %}


{% block content %}
    <h1 class="section-title">Оружие и фокусировки</h1>

	<div class="search-input"><label>
			<input type="text" placeholder="Поиск по оружию">
    </label></div>

	{% if all_weapons %}
	<table class="weap-table">
		<tr>
			<td>Название</td><td>Урон</td><td>Тип урона</td><td>Вес</td><td>Цена</td>
		</tr>
		{% for weap in all_weapons %}
		<tr>
			<td>{{ weap.name_rus }}</td>
			<td>{{ weap.damage.dice_count }}d{{ weap.damage.dice }}</td>
			<td>{{ weap.damage.ttype }}</td>
			<td>{{ weap.weight }}фунтов</td>
			<td>{{ weap.costs.gold }}з {{ weap.costs.silver }}с {{ weap.costs.copper }}м</td>
		</tr>
		{% endfor %}
	</table>
    {% else %}
        <p>Database error, no weapon found</p>
	{% endif %}
{% endblock %}
