.overlay {
	display: none;
}
.navigation {
	position: fixed;

	left: -100vw; top: 5vh;
	height: 95vh; width: 100vw;

	background-color: #1e222b;

	z-index: 1;
	visibility: hidden;
	transition: .5s;
}

.navigation > .header {
	display: none;
}

.navigation > .content {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 3%;
	position: relative;

	margin: 3%;
	left: 0; right: 0;
	height: 80%; width: 94%;
}

.navigation > .content > .section > .header {
	display: grid;
	grid-template-columns: auto 1fr auto;
}
.navigation > .content > .section > .header > p {
	margin: 0;
	font-size: 5vw;
	color: #909090;
}
.navigation > .content > .section > .header > .line {
	position: relative;

	margin: 0 .5vw;
	left: 0; top: 1.4vh;
	height: .2vh;
	
	background-color: #909090;
}
.navigation > .content > .section > .header > img {
	position: relative;

	margin: 0;
	right: 0; top: 0;
	height: 2.8vh; width: auto;
}

.navigation > .content > .section > .elements ul {
	position: relative;

	margin: 0;
	margin-top: 2%;
	padding: 0;
	list-style: none;
}
.navigation > .content > .section > .elements li {
	font-size: 3.5vw;
	padding-bottom: 3%;
}
.navigation > .content > .section > .elements li:hover {
	color: #7b5eee;
}
.navigation > .content > .section > .elements a {
	color: #fff;
	text-decoration: none;
}
.navigation > .content > .section > .elements a:visited {
	color: #fff;
	text-decoration: none;
}

