.background {
	display: none;
}

.sidebar {
	position: fixed;

	height: 10vw; width: 100vw;
	z-index: 1;

	border-bottom: .2vw solid #5c5c5c;
	background-color: #1e222b; 
}
.sidebar img {
	margin: .5vw;
	height: 80%; width: auto;
}
.sidebar .filter-svg {
	position: absolute;

	right: .5vw;
	margin: .5vw;
	height: 80%; width: auto;
}

.context {
	position: absolute;

	left: 0; top: 7vw;
	height: auto; width: 100vw;
}
