{% extends 'handbook-new/subtemp.html' %}

{% set sections = {
	'Персонаж': [['Лист игрока', 'heroes'], ['Расы и происхождения', 'races'], ['Классы и навыки', 'classes']],
	'Предметы': [['Оружие и фокусировки', 'weapons'], ['Доспехи и одежда', 'armors'], ['Прочее снаряжение', 'equipment']],
	'Мироустройство': [['Бестиарий', 'monsters'], ['Религии', 'religions'], ['География', 'geography']]
}
%}
{% set avivable = ['races'] %}

{% block context %}
<input type="search" placeholder="Поиск по архиву Devumid">

{% for sect in sections %}
	<h1>{{ sect }}</h1>
	<div class="section">
	{% for elem in sections[sect] %}
		<div class="elem"><a href="{% if elem[1] in avivable %}{{ url('handbook:'+elem[1]+'-b') }}{% else %}#{% endif %}">
				<img src="{{ static('handbook/images/sections/'+elem[1]+'.png') }}" alt="{{ elem[1] }}">
			<p>{{ elem[0] }}</p>
		</a></div>
	{% endfor %}
	</div>
{% endfor %}

{% endblock %}
