{% extends 'handbook-new/subtemp.html' %}

{% block context %}

<h1>{{ info.name_rus }}</h1>
<p>{{ info.description }} </p>

<p><b>Страны</b> {{ info.info.countries }}</p>
<p><b>Территории</b> {{ info.info.lands }}</p>
<p><b>Языки</b> {{ info.info.languages }}</p>
<p><b>Религия</b> {{ info.info.religions }}</p>

<h2>Особенности</h2>
<p><b>Навыки</b> {{ info.name_rus }} получает {{ info.skills.value }} очка навыка для развития характеристики {{ info.skills.skill }}</p>
<p><b>Возраст</b> {{ info.create.age }}</p>
<p><b>Рост</b> {{ info.create.height }}</p>
<p><b>Скорость</b> Ваша скорость передвижения {{ info.create.speed }} ячеек ({{ info.create.speed*5 }} футов)</p>

<h2>Отыгрыш и создание</h2>

{% endblock %}
