@import url('https://fonts.googleapis.com/css?family=Balsamiq+Sans&display=swap');

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #1e222b;
}
::-webkit-scrollbar-thumb {
  background: #2e235f;
}
::-webkit-scrollbar-thumb:hover {
  background: #4c34af;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #1E222B;
    color: #FFFFFF;
    list-style: none;
    font-family: 'Balsamiq Sans', sans-serif;
}
body p{
	color: #E5E5E5;
}


.navbar {
  position: fixed;
  padding-top: 1%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4.5%; height: 100%;
  border-right: 2px solid #5C5C5C;
}
.navbar a{
  width: 80%;
}
.navbar a img{
  width: 100%;
}
.navbar img{
  width: 75%;
}
.navbar hr{
  width: 80%;
  border: 0;
  border-top: 2px solid #5C5C5C;
  margin: 15%;
}

.content {
  margin: 1% 1% 1% 5.5%;
  width: 93%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.bg-image {
  position: fixed;
  z-index: -1;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  width: 100%;
  height: 100%;
}
.bg-image img {
  width: 28%;
}
