.search-input {
  position: relative;
  text-align: center;
  border: none;
  width: 100%;
  height: 2em;
  border-radius: 8px;
  background: #2A2E3E;
  color: #FFFFFF;
  font-size: 16px;
}
.search-input::placeholder {
  color: #8C8E9E;
  font-size: 16px;
  font-family: Balsamiq Sans, ui-rounded;
}

.section-title {
  text-align: left;
  width: 100%;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 1%;
}

.mp-section {
  column-count: 3;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
}

.section-elem {
  position: relative;
  margin-right: 2%;
  margin-left: 2%;
}
.section-elem p {
  position: absolute;
  color: #FFFFFF;
  text-decoration: none;
  left: 4%;
  bottom: 25%;
  font-size: 32px;
}
.section-elem img{
  width: 100%;
}

.race-elem {
	margin-bottom: 4%;
}
.race-elem p{
  top: 0;
  left: 8%;
}
.race-elem .subname {
  top: 18%;
  color: #AAAAAA;
  font-size: 25px;
}

.object-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.object-text {
  width: 100%;
  padding-left: 2%;
  padding-right: 40%;
}
.object-text p{
  font-size: 23px;
  padding-left: 1.5%;
  margin-top: 0;
  margin-bottom: .5%;
}
.object-text .p-desc{
  margin-bottom: 3%;
}

.object-img {
  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: inherit;

  right: 0;
  bottom: 0;
  width: 40%;
  height: 100%;
}
.object-img .image1{
  position: absolute;

  width: 75%;
  top: 1%;
  left: 5%;
}
.object-img .image2{
    position: absolute;

    width: 75%;
    right: 0; bottom: 0;
  }
